.mainDiv {
  margin: 2vh 2vw 2vh 1vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenlys;
  /* align-items: center; */
  /* background-color: red; */
}

.calendar {
  background-color: white;
  display: flex;
  justify-content: center;
}

.ChildDiv {
  /* width: 100%; */
}

.Paper {
  margin: 2vh 2vw 2vh 1vw;
}
