.Paper {
  padding: 5vh 2vw 2vh 2vw;
  /* width: 100%; */
  /* height: 100vh; */
}

.TitleHeader {
  width: 40%;
  background: linear-gradient(90deg, #125597, #9ccdff);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: medium;
  border-radius: 20px;
  text-align: center;
  padding: 2vh 2vw 2vh 2vw;
  margin: 3vh 0vw 3vh 0vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: center; */
  /* display: flex; */
  /* margin-top: 20px; */
  /* text-align: center; */
  /* padding: 10px 15px; */
}

.DivOuter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridItemCenter {
}

.GridContainer {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0vw;
  padding-left: 5vw;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .GridItemCenter {
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
  }

  .GridContainer {
    margin: 2vh 0vw;
    padding-left: 0;
  }
}

.EditButton {
  display: flex;
  justify-content: flex-end;
}

.ExitButton {
  display: flex;
  justify-content: center;
}
